#  <center><u> SAE 1.04 Création d'une base de donnée<center><u>

### <center> Omar Elnady <br/><br/>Ugo Durand<br/><br/><u>Groupe : Pegasus<center><u>

## <center><u>Phase 1 : évaluation en séance de TP, semaine 20/09<u><center>

<h2> Lors de cette phase, nous avons d'abord eu a installer Postgresql et Jupyter-Notebook<br/>
<br/>
    Nous avons dans un second temps télécharger le fichier <i>titanic_train.csv<i> que nous avons ensuite analyser. Cette analyse s'est faite sur plusieurs points : <br/>
    <br/>
    1. Les paramètres de la table (Cardinalité, Degré)
    <br/><br/>
    2. Les attributs
    <br/><br/>
    3. Les tuples correspondantes aux attributs
    <br/><br/>
    4. L'utilité de la table<h2>

<FONT size="5pt"> 1. Dans cette Table nous pouvons remarquer la présence de 12 attributs donnant donc undegré (nombre de colones) équivalant à 12.<br/><br/>
Lorsque nous descendons dans cette table nous arrivons jusqu'aux données de la 891ème personne enregistrée sur le Tianic. Nous pouvons donc en déduire que la cardinalité(nombre de lignes) de la table est de 891</FONT>

<img src="https://cdn.discordapp.com/attachments/888091107932651581/890253837988937748/attributs.png"/>

<FONT size="5pt"> 2. Dans la table les 12 attributs correspondent aux : <br/><br/>
    - Id du passager pour "PassengerID"<br/>
    - Si l'individu à survécu pour "Survived"<br/>
    - A la quel classe appartenait le passager pour "Pclass"<br/>
    - Le Nom/Prénom du passager pour "Name"<br/>
    - Le genre du passager pour "Sex"<br/>
    - Son Âge "Age"<br/>
    - Présence de conjoint, de frère ou de soeur à bord pour "SibSP"<br/>
    - Présence ou non de parents ou d'enfants à bord pour "Parch"<br/>
    - Le numéro du ticket pour "Ticket"<br/>
    - Le tarif du ticket "Fare"<br/>
    - Le Numéro de Cabine pour "Cabin"<br/>
    - Le quai d'Embarquement pour "Embarked"<br/>

<br/><br/><br/><br/><FONT size="5pt"> 3. Pour chaque attribut, des tuples lui sont ajoutés et diffèrent selon l'attribut en question : <br/><br/>
    - PassengerID : Numéro unique pour chaque passager<br/>
    - Survived : 0 = Non, 1 = Oui<br/>
    - Pclass :  1 = 1er, 2 = 2e, 3 = 3e (numéro de classe)<br/>
    - Name : Nom du passager<br/>
    - Sex : "male" pour homme "female" pour femme<br/>
    - Age : Age en années<br/>
    - SibSP : 0 = Non, 1 = Oui<br/>
    - Parch : 0 = Non, 1 = Oui<br/>
    - Ticket : Numéro unique<br/>
    - Fare : Tarif<br/>
    - Cabin : Numéro de Cabine<br/>
    - Embarked : C = Cherbourg, Q = Queenstown, S = Southampton

<br/><br/><br/><br/><FONT size="5pt"> 4. Train.csv contiendra les détails d'un sous-ensemble de passagers à bord (891 pour être exact) et, surtout, révélera s'ils ont survécu ou non en détaillant toute leurs informations personnelles et celles propos de la croisière à bord du titanic

<br/><br/><br/><br/><center><FONT size="5pt"> Voici un tableau des tâches à réaliser pour la SAE 1.04 :

<img src = "https://cdn.discordapp.com/attachments/888091107932651581/890262357224345620/taches.PNG"/>

<img src = "https://cdn.discordapp.com/attachments/888091107932651581/890262862679908362/p1.PNG"/>

<img src = "https://cdn.discordapp.com/attachments/888091107932651581/890262871576047676/p2.PNG"/>

<img src = "https://cdn.discordapp.com/attachments/888091107932651581/890262879494893598/p3.PNG"/>

## <center><u>Phase 2 : évaluation en séance de TP, semaine 18/10<u><center>

<FONT size="5pt">Nous avons décider de créer une table nommé "passagers" qui donnera toutes les informations personnelles des personnes ayant été à bord du Titanic. Du coté des  attributs nous retrouverons :- PassagersId, - Survived, - Name, - Sex, - Age, - SibSp, - Parch. Le degré de la table sera de 7 et la clé primaire sera PassengerID.

<FONT size="5pt">Cette table permettra de plus facilement trouver ce que l'on souhaite en séparant les informations personnelles sur les passagers et celles portant sur la croisière en elle même qui fera d'ailleurs office de seconde table.
    
<FONT size="5pt">Cette table receuillera toutes les informations concernant la croisière à bord du titanic. Les attributs seront :- Ticket, -Pclass, -Fare, -Cabin, -Embarked, -PassengerId donnant un degré de 6 pour cette seconde table.
La clé primaire sera Ticket qui est le numéro de tickets du passagers.
    
<FONT size="5pt">Pour se faire, nous avons diviser le fichier titanic_tain.csv en 2 dossiers. Le premier avec toutes les données de la table "passagers" et la seconde avec toutes les données de la table "croisière".

In [2]:
%load_ext sql

In [3]:
%sql sqlite://

In [4]:
%%sql

CREATE TABLE passagers (PassengerId int primary key, Survived int, Name varchar(20), Sex varchar(20), Age varchar(20), SibSp int, Parch int);

 * sqlite://
Done.

[]

In [5]:
%sql select * from passagers;

 * sqlite://
Done.

[]

In [6]:
%sql CREATE TABLE croisière (Ticket varchar(20) primary key, Pclass int, Fare float, Cabin varchar(20), Embarked varchar(20), PassengerID int);

 * sqlite://
Done.

[]

In [38]:
%sql select * from croisière;

 * sqlite://
Done.

[]

<FONT size="5pt">A partir d'ici nous avons utiliser le terminal afin d'insérer les valeurs dans les tables

<FONT size="5pt"> Pour copier les données dans la table "passagers":
    
<img src = "https://cdn.discordapp.com/attachments/888091107932651581/900657940120358962/image0.png "/>
    
<FONT size="5pt"> En utilisant "select * from passagers" on obtient (ici qu'une petite partie) la table et ses infomations

<img src ="https://cdn.discordapp.com/attachments/888091107932651581/900659863607181382/image1.png "/>

<FONT size="5pt"> Pour copier les données dans la table "croisière":
    
<img src ="https://cdn.discordapp.com/attachments/888091107932651581/900659028538032168/image0.png "/>
    
<FONT size="5pt"> En utilisant "select * from croisière" on obtient (ici q'une petite partie) la table et ses infomations*
    
<img src ="https://cdn.discordapp.com/attachments/888091107932651581/900659863338766336/image0.png "/>

## <center><u>Phase 3 : évaluation en séance de TP, semaine 29/11

<FONT size="5pt">
Voici les requêtes :<br/><br/>
1. select count(DISTINCT pclass) from croisière;<br/><br/>
    <img src ="https://cdn.discordapp.com/attachments/888091107932651581/915874240341880842/IMG_2086.png
"/><br/><br/>
2. SELECT pclass, SUM(1) FROM croisiere GROUP BY pclass;<br/><br/>
<img src = "https://cdn.discordapp.com/attachments/888091107932651581/915874240593559562/IMG_2085.png
"/><br/><br/>
3.select sex,pclass, count(*) from passagers natural join croisière where passagers.sex='female' group by pclass, sex union select sex,pclass, count(**) from passagers natural join croisière where passagers.sex='male' group by pclass, sex;<br/><br/>
    <img src = "https://cdn.discordapp.com/attachments/888091107932651581/915872577925296158/IMG_2082.png"/><br/><br/>

5.select pclass,survived, count(*) from croisière natural join passagers group by pclass,survived;<br/><br/>
                <img src = "https://cdn.discordapp.com/attachments/888091107932651581/915872577732366346/IMG_2083.png
"/><br/><br/>

6.select sex,survived, count(*) from croisière natural join passagers group by sex,survived; <br/><br/>
    <img src ="https://cdn.discordapp.com/attachments/888091107932651581/915872577535242280/IMG_2084.png"/><br/><br/>